$color: #036ffc;
@mixin margenes($top,$botton){
    margin-top: $top;
    margin-bottom: $botton;
}


body {
    background-color:red;
}

.jumbotron {
    background-color: $color !important; 
    color:white;
    height:150px;
    @include margenes(57px,0);
}

footer {
    display: blockgit;
    max-width: 100%;
    background-color:$color;
    color: white;
    padding:40px 20px 30px 20px;
    margin: 0px 0px 0px 0px;
}
.container-fluid {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
.col-sm-4>a:visited {
    color: white;
 
}
.col-sm-4>a:hover {
    font-size: 26px;
 
}

.col-sm {
    width: 100%;
    text-align: justify;
    border: 0.15em; 
    border-color: #e2e2e2;
    border-style:ridge;
    background-color:#fffaf2;
    border-radius: 10px;
    padding: 10px 0px 10px 0px;
    margin:10px 2px 10px 2px;
}
.col-sm > h3 {
    text-align:left;
    @include margenes(0px,20px);
    
}
.col-sm>p {
    margin-bottom: 0px;
}

.car-hotel {
    --tamaño:350px;
    width:var(--tamaño);
    height: var(--tamaño);
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    @include margenes(0px,20px);
    
    
}
.car-hotel>p {
    text-align: justify;
}
.car-hotel:hover{
    border: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: #007bff;
    padding: 10px;
}
.btn.btn-primary.btn-block {
height: 60px;
}
.navbar.navbar-light.bg-light.fixed-top {
    height: 50px;
    border: #270570;
}

.card-body.textcenter {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.card:hover {
    border: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: #007bff;

}
.card>.card-img-top{
    height: 270px;

}
.img-fluid.mx-auto.d-block {
    width: 80%;
    height: 20%;
}

