@charset "UTF-8";
body {
  background-color: red; }

.jumbotron {
  background-color: #036ffc !important;
  color: white;
  height: 150px;
  margin-top: 57px;
  margin-bottom: 0; }

footer {
  width: 100%;
  background-color: #036ffc;
  color: white;
  padding: 40px 20px 30px 20px;
  margin: 0px 0px 0px 0px; }

.container-fluid {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px; }

.col-sm-4 > a:visited {
  color: white; }

.col-sm-4 > a:hover {
  font-size: 26px; }

.col-sm {
  width: 100%;
  text-align: justify;
  border: 0.15em;
  border-color: #e2e2e2;
  border-style: ridge;
  background-color: #fffaf2;
  border-radius: 10px;
  padding: 10px 0px 10px 0px;
  margin: 10px 2px 10px 2px; }

.col-sm > h3 {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 20px; }

.col-sm > p {
  margin-bottom: 0px; }

.car-hotel {
  --tamaño:350px;
  width: var(--tamaño);
  height: var(--tamaño);
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin-top: 0px;
  margin-bottom: 20px; }

.car-hotel > p {
  text-align: justify; }

.car-hotel:hover {
  border: 1px;
  border-style: solid;
  border-radius: 10px;
  border-color: #007bff;
  padding: 10px; }

.btn.btn-primary.btn-block {
  height: 60px; }

.navbar.navbar-light.bg-light.fixed-top {
  height: 50px;
  border: #270570; }

.card-body.textcenter {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between; }

.card:hover {
  border: 1px;
  border-style: solid;
  border-radius: 10px;
  border-color: #007bff; }

.card > .card-img-top {
  height: 270px; }

.img-fluid.mx-auto.d-block {
  width: 80%;
  height: 20%; }
